{% extends 'base.html' %}
{% load static %}
{% block content %}
        <div class="shopping-cart-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-12">
                        <div class="s-cart-all">
                            <div class="page-title">
                                <h1>wishlist</h1>
                            </div>
                            <div class="cart-form table-responsive">
                                <table id="shopping-cart-table" class="data-table cart-table">
                                    <thead>

                                        <tr>
                                            <th>Remove</th>
                                            <th>Images</th>
                                            <th>Product Name</th>
                                            <th>Unit Price</th>
                                            <th>Add to cart</th>
                                        </tr>
                                    </thead>
                                    <tbody  id = 'wishlist-products'>
                                        {% for product in wishlist.product.all %}
                                            <tr>
                                                <td class = 'th-delete' class="sop-icon" data-id ='{{product.pk}}' style="cursor: pointer;">
                                                    <i class="fa fa-times"></i>
                                                </td>
                                                <td class="sop-cart">
                                                    <a href="{{product.get_absolute_url}}"><img style="width: 100px;" class="primary-image" alt="" src="{{product.cover_image.url}}"></a>
                                                </td>
                                                <td class="sop-cart"><a href="{{product.get_absolute_url}}">{{product.product.title}}-{{product.color.name}}</a></td>
                                                <td class="sop-cart">AZN{{product.product.price}}</td>
                                                <td><button class="button2  notice elit" title="" type="button">
                                                        <span class="basket" data-id ='{{product.pk}}' style="cursor: pointer;">Add to cart</span>
                                                    </button>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                    
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end shopping-cart-area
		============================================ -->
        <!-- start shop_area
		============================================ -->
        <section class="shop_area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title ma-title lab">
                            <h2>
                                Our brands
                            </h2>
                        </div>
                    </div>
                </div>       
                <div class="item_all indicator-style item-down owl-carousel">
                    <img class="primary-img" src="{% static 'img/item/br1.jpg' %}" alt="" />
                    <img class="primary-img" src="{% static 'img/item/br1.jpg' %}" alt="" />
                    <img class="primary-img" src="{% static 'img/item/br1.jpg' %}" alt="" />
                    <img class="primary-img" src="{% static 'img/item/br1.jpg' %}" alt="" />
                    <img class="primary-img" src="{% static 'img/item/br1.jpg' %}" alt="" />
                    <img class="primary-img" src="{% static 'img/item/br1.jpg' %}" alt="" />
                    <img class="primary-img" src="{% static 'img/item/br1.jpg' %}" alt="" />
                    <img class="primary-img" src="{% static 'img/item/br1.jpg' %}" alt="" />
                    <img class="primary-img" src="{% static 'img/item/br1.jpg' %}" alt="" />
                </div>
            </div>
        </section>
		<!-- end shop_area
		============================================ -->
        <!-- start tweets_area
		============================================ -->
        <section class="tweets_area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="tweet-content">
                            <div class="tweet-title ma-title">
                                <h2>Latest Tweets</h2>
                            </div>
                            <div class="twitter-article">
                                <div class="twitter-pic">
                                    <a href="#"><img src="{% static 'img/tweet/sMv5yar__normal.png' %}" alt="" /></a>
                                </div>
                                <div class="twitter-text">
                                    <span class="tweetprofilelink">
                                        <strong>
                                        <a href="#">Magento themes Club</a>
                                        </strong>
                                        <a href="#">@plazathemes</a>
                                    </span>
                                    <br>
                                        Check Out "Optician - Responsive #OpenCart #Digital #Theme" on #envatomarket by
                                        <a href="#">@posthemes</a>
                                        #themeforest
                                        <a href="#">https://t.co/NGqqa3v0tf</a>
                                    <br>
                                    <span class="tweet-time">
                                        <a href="#">11h</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="social-footer">
                            <div class="ma-title">
                                <h2>Stay Connected</h2>
                            </div>
                            <div class="footer-static-content">
                                <ul class="link-follow">
                                    <li class="first">
                                        <a class="twitter fa fa-twitter" href="#"></a>
                                    </li>
                                    <li class="first">
                                        <a class="google fa fa-google-plus" href="#"></a>
                                    </li>
                                    <li class="first">
                                        <a class="facebook fa fa-facebook" href="#"></a>
                                    </li>
                                    <li class="first">
                                        <a class="linkedin fa fa-linkedin" href="#"></a>
                                    </li>
                                    <li class="first">
                                        <a class="youtube fa fa-youtube" href="#"></a>
                                    </li>
                                    <li class="first">
                                        <a class="rss fa fa-rss" href="#"></a>
                                    </li>
                                    <li class="first">
                                        <a class="vimeo-square fa fa-vimeo-square" href="#"></a>
                                    </li>
                                    <li class="first">
                                        <a class="instagram fa fa-instagram" href="#"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}
       
