{% extends 'base.html' %}
{% load static %}
{% block content %}
        <div class="faq-area pt-95">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                        <div class="faq-wrap">
                            <h2>Shopping Questions</h2>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="single-faq-wrap mb-30">
                                        <h3>Do you ship worldwide?</h3>
                                        <p>This is the third article of a three-part series. I’m illustrating the marketing challenges of PrescottWeddings.com, a small business. If you don’t remember anything else about marketing.</p>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="single-faq-wrap mb-30">
                                        <h3>How can I use a coupon code?</h3>
                                        <p>This is the third article of a three-part series. I’m illustrating the marketing challenges of PrescottWeddings.com, a small business. If you don’t remember anything else about marketing.</p>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="single-faq-wrap mb-30">
                                        <h3>Do you offer gift-vouchers?</h3>
                                        <p>This is the third article of a three-part series. I’m illustrating the marketing challenges of PrescottWeddings.com, a small business. If you don’t remember anything else about marketing.</p>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="single-faq-wrap mb-30">
                                        <h3>How can I request a refund?</h3>
                                        <p>This is the third article of a three-part series. I’m illustrating the marketing challenges of PrescottWeddings.com, a small business. If you don’t remember anything else about marketing.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="faq-wrap">
                            <h2>Payment Questions</h2>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="single-faq-wrap mb-30">
                                        <h3>Do you ship worldwide?</h3>
                                        <p>This is the third article of a three-part series. I’m illustrating the marketing challenges of PrescottWeddings.com, a small business. If you don’t remember anything else about marketing.</p>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="single-faq-wrap mb-30">
                                        <h3>How can I use a coupon code?</h3>
                                        <p>This is the third article of a three-part series. I’m illustrating the marketing challenges of PrescottWeddings.com, a small business. If you don’t remember anything else about marketing.</p>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="single-faq-wrap mb-30">
                                        <h3>Do you offer gift-vouchers?</h3>
                                        <p>This is the third article of a three-part series. I’m illustrating the marketing challenges of PrescottWeddings.com, a small business. If you don’t remember anything else about marketing.</p>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="single-faq-wrap mb-30">
                                        <h3>How can I request a refund?</h3>
                                        <p>This is the third article of a three-part series. I’m illustrating the marketing challenges of PrescottWeddings.com, a small business. If you don’t remember anything else about marketing.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="faq-wrap">
                            <h2>Miscellaneous Questions</h2>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="single-faq-wrap mb-30">
                                        <h3>Do you ship worldwide?</h3>
                                        <p>This is the third article of a three-part series. I’m illustrating the marketing challenges of PrescottWeddings.com, a small business. If you don’t remember anything else about marketing.</p>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="single-faq-wrap mb-30">
                                        <h3>How can I use a coupon code?</h3>
                                        <p>This is the third article of a three-part series. I’m illustrating the marketing challenges of PrescottWeddings.com, a small business. If you don’t remember anything else about marketing.</p>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="single-faq-wrap mb-30">
                                        <h3>Do you offer gift-vouchers?</h3>
                                        <p>This is the third article of a three-part series. I’m illustrating the marketing challenges of PrescottWeddings.com, a small business. If you don’t remember anything else about marketing.</p>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="single-faq-wrap mb-30">
                                        <h3>How can I request a refund?</h3>
                                        <p>This is the third article of a three-part series. I’m illustrating the marketing challenges of PrescottWeddings.com, a small business. If you don’t remember anything else about marketing.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end faq-area
		============================================ -->
        <!-- start shop_area
		============================================ -->
        <section class="shop_area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title ma-title lab">
                            <h2>
                                Our brands
                            </h2>
                        </div>
                    </div>
                </div>        
                <div class="item_all indicator-style item-down owl-carousel">
                    <img class="primary-img" src="{% static 'img/item/br1.jpg' %}" alt="" />
                    <img class="primary-img" src="{% static 'img/item/br1.jpg' %}" alt="" />
                    <img class="primary-img" src="{% static 'img/item/br1.jpg' %}" alt="" />
                    <img class="primary-img" src="{% static 'img/item/br1.jpg' %}" alt="" />
                    <img class="primary-img" src="{% static 'img/item/br1.jpg' %}" alt="" />
                    <img class="primary-img" src="{% static 'img/item/br1.jpg' %}" alt="" />
                    <img class="primary-img" src="{% static 'img/item/br1.jpg' %}" alt="" />
                    <img class="primary-img" src="{% static 'img/item/br1.jpg' %}" alt="" />
                    <img class="primary-img" src="{% static 'img/item/br1.jpg' %}" alt="" />
                </div>
            </div>
        </section>

        
        <section class="tweets_area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="tweet-content">
                            <div class="tweet-title ma-title">
                                <h2>Latest Tweets</h2>
                            </div>
                            <div class="twitter-article">
                                <div class="twitter-pic">
                                    <a href="#"><img src="{% static 'img/tweet/sMv5yar__normal.png' %}" alt="" /></a>
                                </div>
                                <div class="twitter-text">
                                    <span class="tweetprofilelink">
                                        <strong>
                                        <a href="#">Magento themes Club</a>
                                        </strong>
                                        <a href="#">@plazathemes</a>
                                    </span>
                                    <br>
                                        Check Out "Optician - Responsive #OpenCart #Digital #Theme" on #envatomarket by
                                        <a href="#">@posthemes</a>
                                        #themeforest
                                        <a href="#">https://t.co/NGqqa3v0tf</a>
                                    <br>
                                    <span class="tweet-time">
                                        <a href="#">11h</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="social-footer">
                            <div class="ma-title">
                                <h2>Stay Connected</h2>
                            </div>
                            <div class="footer-static-content">
                                <ul class="link-follow">
                                    <li class="first">
                                        <a class="twitter fa fa-twitter" href="#"></a>
                                    </li>
                                    <li class="first">
                                        <a class="google fa fa-google-plus" href="#"></a>
                                    </li>
                                    <li class="first">
                                        <a class="facebook fa fa-facebook" href="#"></a>
                                    </li>
                                    <li class="first">
                                        <a class="linkedin fa fa-linkedin" href="#"></a>
                                    </li>
                                    <li class="first">
                                        <a class="youtube fa fa-youtube" href="#"></a>
                                    </li>
                                    <li class="first">
                                        <a class="rss fa fa-rss" href="#"></a>
                                    </li>
                                    <li class="first">
                                        <a class="vimeo-square fa fa-vimeo-square" href="#"></a>
                                    </li>
                                    <li class="first">
                                        <a class="instagram fa fa-instagram" href="#"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}

        
